# ***coylet.service***
[Unit]
Description=Sistema de protección activa contra DDOS y DOS by coylet
After=multi-user.target
 
directorio_destino="${directorio_destino:-/etc/coylet}"
 
[Service]
Type=simple
ExecStart=$directorio_destino/source/run start
User=root
WorkingDirectory=$directorio_destino/source
Restart=on-failure
StandardOutput=syslog
StandardError=syslog

# Añadido para stop y reinicio
ExecStop=$directorio_destino/source/run stop
ExecReload=$directorio_destino/source/run reload